body {
background-color: rgb(135, 14, 216);
font-family: 'Poppins', sans-serif;
color: white;
text-align: center;
padding: 50px;
font-size: 18px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
}


.left-elements {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;;
}

.right-elements {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
    gap: 20px;
    padding: 30px;
}

button {
    background-color: white;
    border: none;
    border-radius: 25px;
    color: rgb(135, 14, 216);
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

.logo-huddle {
    width: 150px;
    height: auto;
    margin-bottom: 80px;
    margin-top: 20px;
    text-align: left;
}

.main-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
}

.social-media-logos  {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
}

.social-media-logos img {
    width: 30px;
    height: auto;
    cursor: pointer;
}

.left-elements .main-image {
    width: 600px;
    height: auto;
}


@media (max-width: 480px) {
    .main-content {
        flex-direction: column;
    }

    .left-elements .main-image {
        width: 100%;
        max-width: 400px;
    }
}
